<img src="./assets/farmer.jpg" class="img1">
<div class="aa">
    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px;">Register</h1>

                </div>

                <form style=" font-family: 'Times New Roman', Times, serif;">  
                    <br>
                    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: 1000;font-size: 20px; ">Crop Details</h3>     
                    <br>
                    <div class="mb-3 row">
                        <label for="CropType" class="col-sm-3 col-form-label">Crop Type</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="croptype">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="CropName" class="col-sm-3 col-form-label">Crop Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cropName">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="FertilizerType" class="col-sm-3 col-form-label">Fertilizer Type</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="FertilizerType">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="Quantity" class="col-sm-3 col-form-label">Quantity</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="Quantity">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="pHCertificate" class="col-sm-3 col-form-label">Soil pH Certificate</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="pHCertificate">
                        </div>
                      </div>
                    
                    <br>

                  
            
                    
                    
                    <button type="submit" class="btn btn-primary" style="margin-left: 30%;">PLACE  REQUEST</button> 
                    
                </form>
                <br>
                
            </div>

        </div>

    </div>

</div>
</div>