<img src="./assets/about.jpg" class="img1">
<br><br>
<div class="about">
    <h1>Information</h1>
    Agriculture is the backbone of the Indian Economy"- said Mahatma Gandhi six decades ago. Even today, 
    the situation is still the same, with almost the entire economy being sustained by agriculture, which is the mainstay 
    of the villages. It contributes 16% of the overall GDP and accounts for employment of approximately 52% of the Indian population. 
    Rapid growth in agriculture is essential not only for self-reliance but also to earn valuable foreign exchange.
<br><br>
    Indian farmers are second to none in production and productivity despite of the fact that millions are marginal and small farmers. 
    They adopt improved agriculture technology as efficiently as farmers in developed countries.
    It is felt that with provision of timely and adequate inputs such as fertilizers, seeds, pesticides and by making available affordable
    agricultural credit /crop insurance, Indian farmers are going to ensure food and nutritional security to the Nation.
    It is envisaged to make available relevant information and services to the farming community and private sector through the use of 
    information and communication technologies, to supplement the existing delivery channels provided for by the department. 
    <br><br>
    Farmers’ Portal is an endeavour in this direction to create one stop shop for meeting all informational needs relating to Agriculture, 
    Animal Husbandry and Fisheries sectors production, sale/storage of an Indian farmer. With this Indian Farmer will not be required to sift 
    through maze of websites created for specific purposes.
</div>
<div class="about">
    <br>
    <h1>DA&FW Organisation</h1>
    
    The DA&FW is organized into 28 Divisions and has five attached offices and twenty-one subordinate offices 
    which are spread across the country for coordination with state level agencies and implementation of Central Sector Schemes in their respective fields.
    <br><br>
    Further, one Public Sector Undertakings,nine autonomous bodies, ten nationallevel cooperative organizations and two authorities are functioning under
    the administrative control of the Department.

    Divisions
    Subordinate Offices / Authority / Autonomous Bodies & PSU'S
    Organizational Chart of DA&FW
    
    <br><br>

    <div>
        <h1>Honourable Ministers</h1>
        <div class="Ab1">
            <img src="./assets/Ab1.jpg" class="img2"><br>
            <span class="Ab2"><b>Shri Narendra Singh Tomar</b></span><br>
            Hon’ble Minister of Agriculture & Farmers Welfare
        </div>
<br>
        <div class="Ab1">
            <img src="./assets/Ab2.jpg" class="img2"><br>
            <span class="Ab2"><b>Sushri Shobha Karandlaje</b></span><br>
            Hon’ble Minister of State
        </div>

        <div class="Ab1">
            <img src="./assets/Ab3.jpg" class="img2"><br>
            <span class="Ab2"><b>Sushri Shobha Karandlaje</b></span><br>
            Hon’ble Minister of State
        </div>
    </div>
</div>
