.img1{
    width: 100%;
    height: 155%;
}
.card{
    border:none;
    width: 510px;
    padding: 40px;
    height: 1100px;
    position: absolute;
    color: white;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgb(78, 48, 128) 0%, rgb(105, 92, 132)100%);
}
