<img src="./assets/Top.jpg" id="img1" >
   <mat-toolbar color="primary" class="mat-elevation-z8">
      <span class="fs"><mat-icon>eco</mat-icon>Farm-Scheme</span>
      <div class="spacer">
         <a mat-button routerLink="" class="aa">Home</a> 
         <a mat-button routerLink="about" class="aa">About</a>
         <a mat-button routerLink="contact" class="aa">Contact</a>
         <a mat-raised-button routerLink="login" color="accent" class="ll">Login</a>


         <a mat-button routerLink="farmer-page" class="aa">Farmer Page</a>
         <a mat-button routerLink="bidder-page" class="aa">Bidder Page</a>


         
      </div>
      
   </mat-toolbar>
   
