
.spacer{
    text-align: center;
}

.fs{
    font-size: 30px;
}

.aa{
    font-size: 20px;
    padding: 80px;
}

.ll{
    font-size: 20px;
    margin: 20px;
}

#img1{
    width: 100%;
    height: 10%;
}

