<img src="./assets/c1.jpg" class="img1">



<div id="shopify-section-top-footer-page" class="shopify-section">
  <div class="footer-top">
    <div class="Container">
      <div class="Footer__Content footer-top-container">
          <div class="store-locater">
            <div class="store locater-icon-text"> 
              <div class="locatorInnerText">
                <div class="content-asset">
                  <p class="FooterHeading">Kisan Helpline Number</p>
                  <h2>18001801551</h2>
                </div>
               
              </div>
            </div>
            <div class="footer-section footer-contact-methods store">
              <div class="footer-right">
                <div class="TouchText">
                  <p class="FooterHeading">Get in touch</p>
  
                </div>
                <div class="TouchIcons">
                  
                  <div class="icon-text margin-icon-1">
                    
                    <p><a class="mobile-link" href="tel:1800-180-1551" title="Go to Contact Us">  </a></p>
                    <div class="icon-container"><a class="mobile-link" href="tel:1800-180-1551" title="Go to Contact Us">                           
                  <svg focusable="false" viewBox="0 0 19 20" id="phone-footer" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.358 13.266C5.824 21.93 3.33 19.341 2.22 18.387c-.088-.074-1.477-1.341-1.483-1.346l4.486-5.112c.005.006 1.386 1.263 1.45 1.317 1.575 1.419 7.41-5.293 5.896-6.776l-1.461-1.333L15.575 0l1.478 1.35c.999.956 3.775 3.324-3.695 11.916z"></path></svg> 
                  </a></div><a class="mobile-link" href="tel:1800-180-1551" title="Go to Contact Us">                                                                         </a><p></p>
                    
                    
                    <p>Call </p>
                    
                  </div>
                  
                  <div class="icon-text margin-icon-2">
                    
                    <p><a class="footer-chat-link" href="https://api.whatsapp.com/send/?phone=911800-180-1551" onclick="footerChatTrigger();">                              
                    </a></p><div class="icon-container"><a class="footer-chat-link" href="https://api.whatsapp.com/send/?phone=911800-180-1551" onclick="footerChatTrigger();">                             
                    <svg focusable="false" viewBox="0 0 19 18" id="chat-footer" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.276 0H4.255C2.428 0 .948 1.511.948 3.374v6.751c0 1.865 1.48 3.375 3.307 3.375h1.101s1.103.81 1.103 2.7V18l4.409-4.5h4.408c1.826 0 3.307-1.511 3.307-3.375V3.373C18.583 1.511 17.102 0 15.276 0z"></path></svg>               
                  </a></div><a class="footer-chat-link" href="https://api.whatsapp.com/send/?phone=911800-180-1551" onclick="footerChatTrigger();">
                  </a><p></p>
                    
                    
                    <p>Chat </p>
                    
                  </div>
                  
                  <div class="icon-text margin-icon-3">
                    <p><a href="mailto:shubhisharma145@gmail.com" title="Go to Contact Us"></a></p>
                    <div class="icon-container"><a href="mailto:support@lakmeindia.com" title="Go to Contact Us">                  
                  <svg focusable="false" viewBox="0 0 20 15" id="mail-footer" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M.139 15V2.296l9.552 6.999 9.552-6.999V15H.139zm0-14.992V0h19.104v.008l-9.552 7-9.552-7z"></path></svg></a></div><a href="mailto:shubhisharma145@gmail.com" title="Go to Contact Us">                          </a><p></p>
                    
                    
                    <p>Email </p>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  


