
<a mat-raised-button routerLink="/logout" color="accent" class="ll">LogOut</a>

<!-- <a mat-raised-button routerLink="/sell"><span>Place Sell Request</span></a> <br><br><br><br>
<a mat-raised-button routerLink="/history"><span>View Sold Crop History</span></a><br><br><br><br>
<a mat-raised-button routerLink="/marketplace"><span>View Marketplace</span></a> -->
<div class="image"></div>
<button class="button1" routerLink="/sell"><span>Place Sell Request</span></button><br><br>
<button class="button1" routerLink="/history"><span>View Sold Crop History</span></button><br><br>
<button class="button1" routerLink="/marketplace"><span>View Marketplace</span></button><br><br>
