<img src="./assets/farmer.jpg" class="img1">
<div class="aa">
    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px;">Marketplace</h1>

                </div>

                <form style=" font-family: 'Times New Roman', Times, serif;">  
                    <br>
                    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: 1000;font-size: 20px; ">Details</h3>     
                    <br>
                    <div class="mb-3 row">
                        <label for="CropType" class="col-sm-3 col-form-label">Crop Type</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="croptype">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="CropName" class="col-sm-3 col-form-label">Crop Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cropName">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="BasePrice" class="col-sm-3 col-form-label">Base Price</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="BasePrice">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="amount" class="col-sm-3 col-form-label">Current Bid Amount</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="Amount">
                        </div>
                      </div>

                </form>
                <br>
                
            </div>

        </div>

    </div>

</div>
</div>