<div>
    <img src="./assets/PM.jpg" class="img3">
    <button class="button1"><span>FARMING  AGREEMENT</span></button><br><br>
    
    <ul class="li1">
        <li>MoU on developing proof of concept on farmer databse</li>
        <li>Model Agricultural Agreement- Wheet Production</li>
        <li>Model Agriculture Contract Banana</li>
        <a  href="https://agricoop.nic.in/en">More Details</a>
    </ul>

    <button class="button1"><span>AGRICULTURAL REFORMS</span></button><br><br>
    
    <ul class="li1">
        <li>Farmers' Agreement on Price Assurance and Agricultural Services (Dispute Resolution) Rules, 2020</li>
        <li>MoU with banks on Agricultural Infrastructure Fund</li>
        <li>E-collection of articles published on The Agricultural Reforms Act 2020</li>
        <a  href="https://agricoop.nic.in/en">More Details</a>
    </ul>

    <button class="button1"><span>WHAT'S  NEW</span></button><br><br>
    
    <ul class="li1">
        <li>Annual Report 2021-2022/i></li>
        <li>Interim approval for application of already approved pesticide formulations through drones - reg.</li>
        <li>Interim approval for application of already approved pesticide formulations through drones - reg</li>
        <li>Promotion of Farmer Drones : Issues, Challenges and Paths Forwarded to 2 May 2022 - Presentations</li>
        <a  href="https://agricoop.nic.in/en">More Details</a>
    </ul>

</div>
